$main-color: #000000;
$second-color: #4B4B4B;
$third-color: #9E9E9E;
$yellow-mobile: #FED74B;
$yellow-desktop: #FFD83C;
$badge-black: #3E3E3E;
$badge-purple: #7553FF;
$badge-blue: #099CE8;
$badge-yellow: #FFD83B;